{% extends 'base.html.twig' %}

{% block title %}Détails de l'utilisateur{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-header bg-primary text-white">
                    <h3 class="card-title mb-0">Détails de l'utilisateur</h3>
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th>ID</th>
                                <td>{{ user.id }}</td>
                            </tr>
                            <tr>
                                <th>Nom d'utilisateur</th>
                                <td>{{ user.username }}</td>
                            </tr>
                            <tr>
                                <th>Email</th>
                                <td>{{ user.email }}</td>
                            </tr>
                            <tr>
                                <th>Rôles</th>
                                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer text-center">
                    <a href="{{ path('app_user_index') }}" class="btn btn-secondary">Retour à la liste</a>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}" class="btn btn-warning">Modifier</a>
                    {{ include('user/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}